.logooo{
    width: 300px;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

ul{
	display: flex;
}

li{
	list-style: none;
	margin: 1rem;
    

}

a{
	text-decoration: none;
	}

.navbarr{
display: flex;
justify-content: center;
}
.logooo{
margin-right: 500px;
}
.navvbar{
   margin-top: 0px;
}
.dip{color: #ababab;}
.bip{ color: #00b39b;}
.lo{display: block; margin-left: auto; margin-right: auto;
margin-top: 3rem; }
.firsth1{color: #00b39b;
 text-align: center;
 margin: 1em 0;
 font-weight: 300;
 letter-spacing: -.3px;}
 *{margin: 0 1%;}
 
 .par{
    display: flex;
    justify-content: center;
    color: #747474;
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
 }
 .sec{
    display: flex;
    justify-content: center;
    
 }
 .s1{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;background: #00b39b;
    color: #fff;
    border-radius: 6%;
margin-right: 2%;
height: 300px;}
.s2{
    background: #3d83df;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    border-radius: 6%;
    height: 300px;
}
.s3{font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    background:  #747474;
    border-radius: 6%;
margin-left: 2%;
height: 300px;}
.im{margin-top: 20px;}
.pip{margin-top: 50px;}
.sui{margin-top: 3rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.ti{color:#00b39b ;}
ul{list-style: none;
    }
.so{
    color: #ababab;
}
*{font-family: 'Finlandica', sans-serif;}

.countries{width: 80%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 2% 10%;

}
*{margin: 0 4%;}
.country{
    margin-bottom: 2%;
border-radius: 2%;}
.country div{ display: flex;
    justify-content: space-between;
}
.country div p{color: gray;
}
.country:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
cursor: pointer;}
button{    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;}
